*{
    margin: 0;
    
    box-sizing: border-box;
}

form{
    background-color: rgb(0, 0, 32);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1 0 auto;
    width: 100vw;
    height: 100vh;
    gap: 20px;
    font-size: 1.5em;
}

div{
    padding: 8px;
    
}